*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body{
 background-color: #257d9c;
font-family: 'Cairo', sans-serif;
}
.navbar{
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #204b5b;
  padding: 0 60px;
  border-radius: 30px;
  margin-top: 13px;
}

.navbar ul{
  display: flex;
  list-style-type: none;
  gap: 30px
}

.navbar a{
 color: white;
  text-decoration: none;
  padding: 17px;
  text-align: center;
  font-weight: bold;
  color: white;
  transition: 0.3s;
}

.navbar a:hover{
  background-color:#257d9c ;
  border-radius: 30px;
}



.navbar .logo{
  font-weight: 900;
  font-size: 30px;
  color: white;
  display: flex;
  align-items: center;
  
}
h1{
    font-size: 4.6rem;
    margin-top: 120px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 10px;
    font-weight: bold;
    transition: 0.4s ease;
}

h3 {
    margin: 20px 0;

    font-size: clamp(1.1rem, 2vw, 1.6rem);
}

span{
  color:white;
}

h1:hover {
    color: gold;
    text-shadow: 0 0 20px rgba(126, 126, 233, 0.6);
    transform: scale(1.02);
    
   
span:hover {
    color: gold;
    text-shadow: 0 0 20px rgba(126, 126, 233, 0.6);
    transform: scale(1.02);
