*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
 background-color: #257d9c;
font-family: 'Cairo', sans-serif;
}
.navbar{
  width: 90%;
  margin-top: 20px;
  margin-left: 70px;
}

.navbar ul{
  list-style-type: none;
  background-color: #061216;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  border-radius:40px;
}

.navbar a{
 color: white;
  text-decoration: none;
  padding: 17px;
  display: block;
  text-align: center;
  font-family: 'Cairo', sans-serif;
  color: #0a0a0b;
  font-weight: bold;
  color: white;
}

.navbar a:hover{
  background-color:#257d9c ;
  transition: 0.3s;
  border-radius: 30px;
}



.navbar li{
  float: left;
}

.navbar .logo{
  display: flex;
  position:absolute;
  right:110px;
  top:27px;
  font-weight: 900;
  font-size: 30px;
  color: white;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  padding: 0 20px;
  border-radius: 30px;
}
